<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs - Saha Foods</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/FAQS.css')}}">       
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Welcome to Saha Foods</h1>
            </div>
            <ul>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/home">Home</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/policies">Our-Policies</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>FAQs</h1>
        <!-- FAQ 1 -->
        <div class="faq">
            <h3>1. What are your restaurant's opening hours?</h3>
            <p>We are open from 9:00 AM to 10:00 PM from Monday to Sunday.</p>
        </div>
        <!-- FAQ 2 -->
        <div class="faq">
            <h3>2. Do you offer vegetarian or vegan options?</h3>
            <p>Yes, we offer a variety of vegetarian and vegan dishes on our menu. Check out the "Healthy Choices" section.</p>
        </div>
        <!-- FAQ 3 -->
        <div class="faq">
            <h3>3. Can I make a reservation?</h3>
            <p>Yes, you can make reservations by calling us at (123) 456-7890 or through our online reservation system.</p>
        </div>
        <!-- FAQ 4 -->
        <div class="faq">
            <h3>4. Do you provide home delivery services?</h3>
            <p>Yes, we provide home delivery services within a 10-mile radius. You can place your order online or via our app.</p>
        </div>
        <!-- FAQ 5 -->
        <div class="faq">
            <h3>5. Do you accommodate food allergies?</h3>
            <p>Absolutely. Please inform us of any food allergies when placing your order, and we will ensure your meal is prepared safely.</p>
        </div>
        <!-- FAQ 6 -->
        <div class="faq">
            <h3>6. Do you have parking facilities?</h3>
            <p>Yes, we have ample parking space for our customers, including accessible parking spots.</p>
        </div>
        <!-- FAQ 7 -->
        <div class="faq">
            <h3>7. Do you host private events or parties?</h3>
            <p>Yes, we host private events and parties. Contact us to discuss your requirements and customize your event package.</p>
        </div>

        <!-- Back to Home Link -->
        <a class="back-link" href="/home">Back to Home</a>
    </div>
</body>
</html>
